doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css')
    link(rel='stylesheet' href=cdn + '/build/common.css')
    block extra_css
    script(src=cdn + '/build/common.js')
  body
    block content