@import "~motion-ui/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

.mui-zoom {
  &-enter, &-appear {
    @include mui-zoom(
      $state: in,
      $from: 0.85,
      $to: 1,
      $duration: 100ms
    );
    @extend .mui-enter;

    &-active {
      @extend .mui-enter-active;
    }
  }

  &-leave {
    @include mui-zoom(
      $state: out,
      $from: 1,
      $to: 0,
      $duration: 200ms
    );
    @extend .mui-leave;

    &-active {
      @extend .mui-leave-active;
    }
  }
}