.ReactModal__Overlay {
  @include reveal-overlay;

  .ReactModal__Body--open & {
    display: block;
  }
}

.ReactModal__Content {
  position: relative;
  @include reveal-modal-base;
  @include reveal-modal-width(90%);

  .ReactModal__Body--open & {
    display: block;
  }

  @include breakpoint(small only) {
    margin-top: 0;
    @include reveal-modal-fullscreen;
  }
}