@import "~susy/sass/susy";
@import "./../../common/mixins";
@import "./../../common/vars";

.app {
  height: 100%;
}

.app {
  &_state_pending {
    filter: blur(3px);

    &:after {
      content: '';
      position: fixed;
      @include trbl;
      z-index: susy-get(root, $z);
    }
  }
}