@import "./../../foundation/settings";

.menu {

  &.menu_main {
    a {
      &:hover {
        background: rgba(#000, 0.05);
      }

      &.active {
        background: $primary-color;
        color: white;
      }

    }
  }
}